.TOP_menu_txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}
a.TOP_menu_txt:hover {
	color: #666666;
	text-decoration: underline;
}
.TOP_FORM_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F33400;
	font-weight: bold;
	text-decoration: blink;
}
.TOP_FORM_campo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#999;
	height: 18px;
	line-height: 11px;
}
.TOP_FORM_pulsante {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #F33400;
	height: 18px;
	line-height: 11px;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 1px;
	text-transform: uppercase;
}
.TOP_FORM_bordo {
	border: 1px solid #D8D8D8;
	background-color: #E3E2E3;
}
.top_sfondo {
	background-image: url(images/top/top_sfondo.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

a.buttonOrangeSmall {
    background: url(../../Images/bg-button-orange-a-small.png) no-repeat scroll right top transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    margin: 0 auto;
    padding-right: 19px;
    text-decoration: none;
	cursor: pointer;
}
a.buttonOrangeSmall span {
    background: url(../../Images/bg-button-orange-span-small.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    line-height: 13px;
    padding: 3px 0 3px 14px;
}

.ui-widget-header{
  background:url(/image_main/modal-header-bg.png);
  border:1px solid #dadada;
}

.ui-widget-content 
{
  border:6px solid #6a6a6a;
  border-radius: 6px;
}

.ui-dialog .ui-dialog-titlebar-close
{
  margin-top:-12px;
  margin-right:5px;
}

.ui-widget-header .ui-icon 
{
  background-image:url("/image_main/modal-close.png");
  background-position:right center;
  height:21px;
  width:20px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
{
  border:none;
}

